ALTER TABLE evaluation_performance ADD CONSTRAINT FK_D18E02F6ECCFAC24 FOREIGN KEY (id_affectation) REFERENCES affectation_travail (id_affectation);
ALTER TABLE produit ADD CONSTRAINT FK_29A5EC277EBB810E FOREIGN KEY (agriculteur_id) REFERENCES user (id);
ALTER TABLE stock ADD CONSTRAINT FK_4B365660F347EFB FOREIGN KEY (produit_id) REFERENCES produit (id);
ALTER TABLE user_sessions ADD CONSTRAINT FK_7AED7913A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
