{% for message in app.flashes('success') %}
    <div class="flash flash-success">{{ message }}</div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="flash flash-error">{{ message }}</div>
{% endfor %}
{% for errors in app.flashes('errors') %}
    {% for key, message in errors %}
        <div class="flash flash-error">{{ key }}: {{ message }}</div>
    {% endfor %}
{% endfor %}
