{% extends 'base.html.twig' %}

{% block title %}Compte en attente{% endblock %}

{% block body %}

<div style="display:flex;justify-content:center;align-items:center;height:80vh;text-align:center;flex-direction:column;">
    
    <h1>⏳ Compte en attente</h1>

    <p style="margin-top:10px;">
        Votre compte est en cours de validation par le responsable de la ferme.
    </p>

    <p style="margin-top:10px;">
        Vous recevrez une notification une fois approuvé.
    </p>

    <a href="{{ path('app_logout') }}" style="margin-top:20px;">
        Se déconnecter
    </a>

</div>

{% endblock %}