{% extends 'base.html.twig' %}

{% block title %}Animals Management{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/animals-management.css') }}">
{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}

{% block body %}
<div class="mgmt-page">
    {% include 'animal_management/partials/_tabs.html.twig' %}
    {% include 'animal_management/partials/_flashes.html.twig' %}

    {% if currentTab == 'animaux' %}
        {% include 'animal_management/tabs/_animals.html.twig' %}
    {% endif %}

    {% if currentTab == 'dossiers' %}
        {% include 'animal_management/tabs/_records.html.twig' %}
    {% endif %}

    {% if currentTab == 'options' %}
        {% include 'animal_management/tabs/_options.html.twig' %}
    {% endif %}

    {% if currentTab == 'predictor' %}
        {% include 'animal_management/tabs/_predictor.html.twig' %}
    {% endif %}

    {% if currentTab == 'analytics' %}
        {% include 'animal_management/tabs/_analytics.html.twig' %}
    {% endif %}
</div>
{% endblock %}
